<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Lista de Animais</title>
</head>
<body>

	<span th:text="${animais.size()}"></span>
	<table border="1">
		<tr>
			<th>Código</th>
			<th>Nome</th>
			<th>Raça</th>
			<th>Porte</th>
			<th>Espécie</th>
			<th>Cliente</th>
			<th>Alterar</th>
			<th>Excluir</th>
			<th>Ver Cliente</th>
		</tr>
		
		<tr th:each="a: ${animais}">
			<td th:text="${a.codigo}"></td>
			<td th:text="${a.nome}"></td>
			<td th:text="${a.raca}"></td>
			<td th:text="${a.porte}"></td>
			<td th:text="${a.especie}"></td>
			<td th:text="${a.cliente.nome}"></td>
			<td> <a th:href="@{/alterarAnimal(id=${a.codigo})}">Alterar</a> </td> 
			<td> <a th:href="@{/excluirAnimal(id=${a.codigo})}" onclick="return confirm('Deseja excluir?')">Excluir</a> </td>
			<td> <a th:href="@{/alterarCliente(id=${a.cliente.id})}">Ver Dono</a> </td>
		</tr>
	
	</table>
	
</body>
</html>