<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Cadastro de clientere</title>
</head>
<body>
	<form action="" method="post">
		
		<label for="nome">
		<span>Nome:</span>
		<input type="text" name="nome" required="required">
		</label>
		
		<label for="cpf">
		<span>Cpf:</span>
		<input type="text" name="cpf" required="required">
		</label>
		
		<label for="email">
		<span>email</span>
		<input type="email" name="email" required="required">
		</label>
		
		<button type="submit">Salvar</button>
	</form>
</body>
</html>