<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Lista de Clientes</title>
<link rel="stylesheet" href="css/listaCliente.css">
</head>
<body>
	<span th:text="${clientes.size()}"></span>
	<table border="1">
		<tr>
			<th>Id</th>
			<th>Nome</th>
			<th>CPF</th>
			<th>E-mail</th>
			<th>Alterar</th>
			<th>Excluir</th>
		</tr>
		
		<tr th:each="c: ${clientes}">
			<td th:text="${c.id}"></td>
			<td th:text="${c.nome}"></td>
			<td th:text="${c.cpf}"></td>
			<td th:text="${c.email}"></td>
			<!-- <td th:text=""></td> -->
			<td><a th:href="@{/alterarCliente(id=${c.id})}">Alterar</a></td>
			<td><a th:href="@{/excluirCliente(id=${c.id})}">Excluir</a></td>
		</tr>
			
	</table>
</body>
</html>