<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Cadastro de produto</title>
</head>
<body>
	<form action="" method="post">
		
		<label for="nome">
		<span>Produto:</span>
		<input type="text" name="nome" required="required">
		</label>
		
		<label for="preco">
		<span>Preço:</span>
		<input type="text" name="preco" required="required">
		</label>
		
		<label for="estoque">
		<span>Estoque:</span>
		<input type="number" name="estoque" required="required">
		</label>
		
		<button type="submit">Salvar</button>
	</form>	
</body>
</html>